html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 transparent;
}

form {
  width: 100%;
}

ul {
  margin: 0;
}

video {
  border-radius: 0.75rem;
  width: 100%;
  filter: brightness(100%);
  height: fit-content;
}

video:hover {
  filter: brightness(60%);
  transition: all 1s ease;
}

.video_container {
  position: relative;
}

.video_container span {
  position: absolute;
  z-index: 20;
  transform: translate(0.75rem, 0.5rem);
}

.big_frame {
  width: 100%;
}

.small_frame {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 25%;
  transform: translate(-10%, -10%);
  z-index: 10;
}

.carousel_content {
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.carousel_content img {
  max-width: 600px;
  object-fit: contain;
}

@media (min-width: 992px) {
  .carousel_content {
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
  }
}
